*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utility */
body{
    font-family: 'PT Sans', sans-serif;
}


:root {
    --rsp-primary: #9792E4;
    --rsp-secondary: #FFFFFF;
    --rsp-heanvenly: #0084FD;
    --rsp-light-heanvenly: #B5DDFF;
    --rsp-special: #FDC15F;
    --rsp-footer: #333333;
}

.container {
    max-width: 1152px;
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

section{
    padding: 4rem 0;
}

.violetuno{
    background-color: var(--rsp-primary);
}

/* header */
header {
    background-color: var(--rsp-heanvenly);
    height: 50px;
    width: 100%;
    display: flex;
}

nav{
    justify-content: space-between;
}


nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.get {
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-radius: 50px;
}
.right{
    display: flex;
}
.sandwich{
    display: none;
}


/* section uno */

.services [class^="col"]{
    min-height: 250px;
    background-color: var(--rsp-light-heanvenly);
    border-radius: 10px;
}

.service {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.info{
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.img{
    width: 50%;
    height: 100%;
}


.apple{
    text-decoration: none;
    color: white;
    background-color: var(--rsp-heanvenly);
    padding: 5px 35px;
    border-radius: 50px; 
}
.service i{
    color: var(--rsp-heanvenly);
    font-size: 4rem;
}
.services h3{
    color: var(--rsp-heanvenly);
    padding: 1rem 0rem;
}
.col-info{
    display: flex;
}
.col-info img{
    max-width: 250px;
    vertical-align: bottom;
}
.col-info .img{
    align-self: flex-end;
}

.col-8 {
 width: calc(100% / 12 * 8 - 1rem);
 margin: 0 0.5rem 1rem;
}
.col-4 {
    width: calc(100% / 12 * 4 - 1rem);
    margin: 0 0.5rem 1rem;
}

@media screen and (max-width: 768px) {
    .sandwich{
        display: block;
    }
    .menu{
        display: none;
    }
    .col-info {
        flex-direction: column;
    }
    
}
@media screen and (max-width: 480px){
    .services [class^="col"]{
        width: 100%;
    }
    .services{
        flex-direction: column;
    }
}


/* section due violetuno */

.strategic {
    width: 50%;
    padding: 40px 10px 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.strategic img{
    width: 100%;
}

.develop-card{
    width: 50%;
    padding: 40px 80px 40px 10px;

    display: flex;
    align-items: flex-end;
}
.develop{
    padding: 40px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 50px;
}
.develop img{
    width: 250px;
    padding: 20px;
}

.fa-arrow-down{
    background-color: var(--rsp-primary);
    padding: 10px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .col-info .img {
        align-self: flex-start;
    }
    .info{
        width: 100%;
    }
    .violetuno .row {
        flex-direction: column;
    }
    .strategic {
        width: 100%;
        padding: 40px 0px;
    }
    .develop-card {
        width: 100%;
    padding: 40px 0px;
    }
}

/* partners */

.info-partners{
    text-align: center;
}
.info-partners h2{
    color: var(--rsp-primary);
    padding: 20px;
}

.partner{
    width: 100%;
    min-height: 150px;
    background-color: var(--rsp-primary);
    margin: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.foto{
    width: 200px;
    aspect-ratio: 1 / 1;
    margin: 20px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;

}

.test1{
    background-image: url(img/testimonial1.jpg);
}
.test2{
    background-image: url(img/testimonial2.jpg);
}
.test3{
    background-image: url(img/testimonial3.jpg);
}
.info-partner h4{
    margin: 20px 0px 10px;
}

@media screen and (max-width: 480px){
    .partner{
        flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin: 20px 0px;
    }
}

/* violetdue */
.violetdue{
    background-color: var(--rsp-primary);
}
.violetdue h2{
    color: white;
    text-align: center;
}
/* .violetdue .col-4{
    background-color: white;
    min-height: 300px;
    min-width: 290px;
    border-radius: 20px;
    color: var(--rsp-primary);
} */

.coll{
    width: calc(100% / 3 - 20px);
    min-height: 350px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}


.coll h3{
    font-size: 60px;
    padding: 10px 0;
}

.info-coll p {
    color: #959595;
    padding: 10px 0px 20px;
    font-size: 15px;
}

.info-coll {
    padding: 20px;
    color: var(--rsp-primary);
}

.info-coll a{
    text-decoration: none;
    background-color: var(--rsp-primary);
    padding: 5px 50px;
    color: white;
    border-radius: 20px;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .coll{
        width: calc(100% / 2 - 20px);
    }
}
@media screen and (max-width: 480px) {
    .coll{
        width: 100%;
    }
}


/* about us */
.left-about{
    width: calc(70% - 20px);
    margin: 10px;
    min-height: 300px;
}
.left-about h2{
    padding: 30px 0;
    font-size: 50px;
    color: var(--rsp-primary);
}

.left-about p{
padding: 20px 0;
line-height: 30px;
}

.right-about{
    width: calc(30% - 20px);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.abau{
    background-image: url(img/about.jpg);
    position: relative;
}

.right-about h3{
    color: var(--rsp-primary);
    padding: 30px 0;
}

.fa-quote-left{   
    position: absolute;
    right: 0px;
    color: var(--rsp-primary);
    font-size: 50px;
}

.about a{
    text-decoration: none;
    background-color: var(--rsp-primary);
    text-align: center;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .left-about{
        width: calc(60% - 20px);
    }
    .right-about{
        width: calc(40% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .about .row{
        flex-direction: column;
    }
    .left-about{
        width: 100%;
    }
    .right-about{
        width: 100%;
    }
}