*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utility */
body{
    font-family: 'PT Sans', sans-serif;
}


:root {
    --rsp-primary: #9792E4;
    --rsp-secondary: #FFFFFF;
    --rsp-heanvenly: #0084FD;
    --rsp-light-heanvenly: #B5DDFF;
    --rsp-special: #FDC15F;
    --rsp-footer: #333333;
}

.container {
    max-width: 1152px;
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

section{
    padding: 4rem 0;
}

.violetuno{
    background-color: var(--rsp-primary);
}

/* header */
header {
    background-color: var(--rsp-heanvenly);
    height: 50px;
    width: 100%;
    display: flex;
}

nav{
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.get {
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-radius: 50px;
}
.right{
    display: flex;
}
.sandwich{
    display: none;
}


/* section uno */

.services [class^="col"]{
    min-height: 250px;
    background-color: var(--rsp-light-heanvenly);
    border-radius: 10px;
}

.service {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.info{
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.img{
    width: 50%;
    height: 100%;
}


.apple{
    text-decoration: none;
    color: white;
    background-color: var(--rsp-heanvenly);
    padding: 5px 35px;
    border-radius: 50px; 
}
.service i{
    color: var(--rsp-heanvenly);
    font-size: 4rem;
}
.services h3{
    color: var(--rsp-heanvenly);
    padding: 1rem 0rem;
}
.col-info{
    display: flex;
}
.col-info img{
    max-width: 250px;
    vertical-align: bottom;
}
.col-info .img{
    align-self: flex-end;
}

.col-8 {
 width: calc(100% / 12 * 8 - 1rem);
 margin: 0 0.5rem 1rem;
}
.col-4 {
    width: calc(100% / 12 * 4 - 1rem);
    margin: 0 0.5rem 1rem;
}

@media screen and (max-width: 768px) {
    .sandwich{
        display: block;
    }
    .menu{
        display: none;
    }
    .col-info {
        flex-direction: column;
    }
    
}

/* section due */

.strategic {
    width: 50%;
    padding: 40px 10px 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.strategic img{
    width: 100%;
}

.develop-card{
    width: 50%;
    padding: 40px 80px 40px 10px;

    display: flex;
    align-items: flex-end;
}
.develop{
    padding: 40px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 50px;
}
.develop img{
    width: 250px;
    padding: 20px;
}

.fa-arrow-down{
    background-color: var(--rsp-primary);
    padding: 10px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .col-info .img {
        align-self: flex-start;
    }
    .violetuno .row {
        flex-direction: column;
    }
    .strategic {
        width: 100%;
        padding: 40px 0px;
    }
    .develop-card {
        width: 100%;
    padding: 40px 0px;
    }
}